/*
Colour Palette
    - Grey blue: #26283c - rgba(38, 40, 60,0.5)
    - visted link light green: rgb(49, 191, 153)
    - Dark blue: #121127 - rgb(18, 17, 39)
    - Grey green: #148769 - rgb(20, 135, 105)
    - Yellow pale: #efcc92 - rgb(231, 204, 149)
 */

.list-group{
    list-style-type:none;
}

.list-group-item{
    display: block;
}

.list-group-item::before{
    content:"";
}

.list-group-item-inline{
    display: inline-block;
}